name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master  # Default branch of your repository

permissions:
  contents: write  # Explicitly grant write permissions

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public  # The directory you want to deploy, automatically deployed to the root of the new gh-pages branch created

